.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 9pt;
    background: red;

    height: 40px;
    width: 50px;
    margin: 0;
    padding: 5px;
    border-radius: 50%;
}

.cell:hover {
    border: black 5px solid;
    padding: 0;
}

.disabled {
    background: lightgray;
}

.zero {
    background: lightpink;
}



.urnRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}