.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 9pt;

    height: 40px;
    width: 40px;
    margin: 0;
    padding: 5px;
    border-radius: 50%;
}

.cell:hover {
    border: black 5px solid;
    padding: 0;
}

.urnRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: -5px 0 0;
}