
.tabs-container {
}

/* Hide radio buttons */
.tab-input {
  display: none;
}

/* Style tab labels (buttons) */
.tab-label {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #444;
  border: 1px solid #333;
  border-bottom: none;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s;
  font-family: Arial, sans-serif;

  font-style: italic;
}

.tab-label:hover {
  background-color: #e1e1e1;
}

/* Active tab label */
.tab-label.active {
  background-color: #666;
  border-bottom: 2px solid #007bff;
  font-weight: bold;
  font-style: italic;
}
/* Tab content */
.tab-content {
  position: absolute; /* Take the element out of the flow */
  visibility: hidden; /* Make it invisible without removing it from the layout */
  opacity: 0; /* Fully transparent */
  transition: opacity 0.5s ease; /* Smooth fade effect */
  padding: 20px;
}

.tab-content.active {
  position: relative; /* Restore normal flow */
  visibility: visible; /* Make it visible */
  opacity: 1; /* Fully visible */
}

.tab-content h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.tab-content .subtitle {
  text-align: center;
  margin-top: 0;
}
